.App {
    display: flex;
    align-items: center;
    padding: 5px;
    flex-direction: column;
}

.Head
.Head__span {
    font-size: 35px;
    color: black;
}

.Head__span {
    text-transform: uppercase;

}
